{{ partial "header-en-page" . }}

<style>
    section p {
        margin-bottom:0;
    }
</style>

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Contact Us</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Home</li>
                <li class="current">Contact Us</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <!-- CONTACT START -->
            <div class="col-lg-6">
                <div class="contact-info">
                    <h5>OUR OFFICE</h5>
                    <h2>Get In Touch</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                    <form id="contact-form" method="post" action="http://quickdevs.com/templates/farmite/contact.php"
                        novalidate="true">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name"
                                            class="form-control customize-contact" placeholder="Name"
                                            required="required" data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email"
                                            class="form-control customize-contact" placeholder="Email address"
                                            required="required" data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_phone" type="tel" name="phone"
                                            class="form-control customize-contact"
                                            placeholder="Please enter your phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="form_message" name="message"
                                            class="form-control customize-contact" placeholder="Your message" rows="3"
                                            required="required" data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 submit-btn">
                                    <p><input type="submit" class="btn btn-contact disabled" value="Send message"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- CONTACT END -->

            <div class="col-lg-6 space-break">
                <div class="contact-info-right">
                    <h5>Trust Us</h5>
                    <h3>Bright Nature Of Decision</h3>
                    <p>A general dentist is your primary care dental provider. This dentist diagnoses, treats, and
                        manages your overall oral health care needs, including gum care.</p>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon"><i class="fas fa-map-marker"></i></div>
                        <div class="bc-caption">
                            <p> The Capitol Building 1st FLoor, Jalan Letjen S.Parman Kav 73. Kel. Slipi, Kec. Palmerah,
                                Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11410 </p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-phone-volume"></i></div>
                        <div class="bc-caption">
                            <p>+ 1 800 722 8987</p>
                            <p>+ 1 800 647 2133</p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-envelope"></i></div>
                        <div class="bc-caption">
                            <p>info@farmite.com</p>
                            <p>support@farmite.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT INFO -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="contact-box">
                    <div class="phone-icon"><i class="fas fa-phone"></i></div>
                    <h3>Phone</h3>
                    <p>347-622-1406</p>
                    <p>212-322-1299</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 cb-center">
                <div class="contact-box">
                    <div class="phone-icon"><i class="fas fa-map-marker"></i></div>
                    <h3>Address</h3>
                    <p>PO BOX 33195 NW 56th ST Miami, Florida</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="contact-box">
                    <div class="phone-icon"><i class="fas fa-envelope"></i></div>
                    <h3>Email</h3>
                    <p>info@farmite.com</p>
                    <p>support@farmite.com</p>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT INFO END -->

    <div class="bottom-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d167616.99483399244!2d-74.08279002518668!3d40.67646407501496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a560db693e3%3A0xb05e8b0bdf854b54!2sGowanus%2C+Brooklyn%2C+Nueva+York%2C+EE.+UU.!5e0!3m2!1ses-419!2sdo!4v1560863423970!5m2!1ses-419!2sdo"
            class="map-iframe-alt"></iframe>
    </div>
</section>


{{ partial "footer" . }}