{{ partial "header-en-page" . }}

<style>
    section p {
        margin-bottom:0;
    }
</style>

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Contact Us</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Home</li>
                <li class="current">Contact Us</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-info-right">
                    <h5>Contact Us</h5>
                    <h3>Our Address</h3>
                    
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon"><i class="fas fa-map-marker"></i></div>
                        <div class="bc-caption">
                            <p> The Capitol Building 1st FLoor, Jalan Letjen S.Parman Kav 73. Kel. Slipi, Kec. Palmerah, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11410 </p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-phone-volume"></i></div>
                        <div class="bc-caption">
                            <p>+62 21 22757588</p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-mobile"></i></div>
                        <div class="bc-caption">
                            <p>+62 818 087 000 87</p>
                            <p>+62 812 3900 6060</p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-envelope"></i></div>
                        <div class="bc-caption">
                            <p>marketing@saputra.co.id</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.158437776267!2d106.7977365!3d-6.192299!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2ae79a45efc138f!2sSaputra%20Global%20Harvest!5e0!3m2!1sid!2sid!4v1584541905059!5m2!1sid!2sid"
            class="map-iframe-alt"></iframe>
    </div>
</section>


{{ partial "footer" . }}