{{ partial "header-en-page" . }}

<style>
    section p {
        margin-bottom:0;
    }
</style>

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Contact Us</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Home</li>
                <li class="current">Contact Us</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <!-- CONTACT START -->
            <div class="col-lg-6">
                <div class="contact-info">
                    <h5>We Are Ready To Help You</h5>
                    <h2>Send Us a Message</h2>
                    <p></p>
                    <form id="contact-form" method="post" action="http://quickdevs.com/templates/farmite/contact.php"
                        novalidate="true">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name"
                                            class="form-control customize-contact" placeholder="Name"
                                            required="required" data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email"
                                            class="form-control customize-contact" placeholder="Email address"
                                            required="required" data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_phone" type="tel" name="phone"
                                            class="form-control customize-contact"
                                            placeholder="Please enter your phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="form_message" name="message"
                                            class="form-control customize-contact" placeholder="Your message" rows="3"
                                            required="required" data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 submit-btn">
                                    <p><input type="submit" class="btn btn-contact disabled" value="Send message"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- CONTACT END -->

            <div class="col-lg-6 space-break">
                <div class="contact-info-right">
                    <h5>Contact Us</h5>
                    <h3>Our Address</h3>
                    
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon"><i class="fas fa-map-marker"></i></div>
                        <div class="bc-caption">
                            <p> The Capitol Building 1st FLoor, Jalan Letjen S.Parman Kav 73. Kel. Slipi, Kec. Palmerah, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11410 </p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-phone-volume"></i></div>
                        <div class="bc-caption">
                            <p>+62 21 7588 0196</p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-envelope"></i></div>
                        <div class="bc-caption">
                            <p>marketing@saputra.co.id</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.158437776267!2d106.7977365!3d-6.192299!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2ae79a45efc138f!2sSaputra%20Global%20Harvest!5e0!3m2!1sid!2sid!4v1584541905059!5m2!1sid!2sid"
            class="map-iframe-alt"></iframe>
    </div>
</section>


{{ partial "footer" . }}