{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Futura Coal Fertilizer</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Products</li>
                <li class="current">Futura Coal Fertilizer</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 space-break">
                <div class="about-info">
                    <h2>Scientific Background</h2>
                    <h5>Why Coal?</h5>
                    <p style="text-align: justify;">Coal is fossil fuels, which is a combustible sedimentary rock, it is formed from organic
                        deposits, with the main ingredient is the remains of plants. The elements which contained in
                        coal
                        are various and complete, so can be use as fertilizer for plants</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{{ .Site.BaseURL }}/img/images/futura-coal-fertilizer-basic-premise.jpg"
                        alt="futura coal fertilizer scientific background">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-info">
                    <h5>Basic Premise</h5>
                    <p style="text-align: justify;">1. What is harvested is actually (23 elements) much more than what is given to our plant
                        (3
                        elements).</p>
                    <p style="text-align: justify;">2. The best output is actually aligned with the input. As with plants, what is the best
                        for
                        plants actually comes from the plants themselves. So the best energy or fertilizer for
                        plants
                        comes from the plants. The best fertilizer is animal manure which is basically plants
                        remains
                        that has been digested, but it is difficult to produce on an industrial scale. </p>
                    <p style="text-align: justify;">
                        3. Coal comes from fossilized plants and contains complete elements but with complex and
                        inert
                        beta
                        carbon chain. It needs to be simplify and activated so can be utilized by the plants.
                    </p>
                    <p style="text-align: justify;">
                        4. This process has been patented in Indonesia and pending patents in USA</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-info">
                    <h5>Elements in Coal</h5>
                    <p style="text-align: justify;">
                        Coal is composed of complex mixtures of organic and inorganic compounds.
                        The organic compounds in coal are composed of a few elements but these compounds are
                        extremely
                        complex thus need to be simplified, while the nutrient is inert and needs to be
                        activated.</p>
                    <p style="text-align: justify;">
                        Analytical chemistry is one method used in research on coal quality with the purpose to
                        determine
                        inorganic elements and compounds to be best utilized by plants.
                    </p>
                </div>
                <div class="about-img">
                    <img src="{{ .Site.BaseURL }}/img/images/futura-coal-fertilizer-element.jpg" alt="elements in coal">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-info">
                    <h2>Futura (Future Batu Bara)</h2>
                    <h5>Saputra Coal Fertilizer</h5>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{{ .Site.BaseURL }}/img/images/futura-coal-fertilizer-product-banner.jpg" alt="Futura - Saputra Coal Fertilizer">
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Packaging</h3>
                <p style="text-align: justify;">Available in sack package (Nett. weight: 25 Kg)</p>
                <h3>Dosage</h3>
                <p style="text-align: justify;">Recommended usage of Futura is: 150 - 200 KG/Ha.</p>
                <p style="text-align: justify;">In case of Futura used as the basic fertilizer, it is not to be mixed with other fertilizer.</p>
                <p style="text-align: justify;">If Futura is used as complementary fertilizer, it could be mixed with NPK or Urea.</p>
            </div>
        </div>
    </div>

</section>


{{ partial "footer" . }}