{{ partial "header-en-home" . }}

<style>
    section p {
        margin-bottom: 20px;
    }
</style>

<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 space-break">
                <div class="ha-rightside">
                    <h3>About Saputra Global Harvest</h3>
                    <p style="text-align: justify;">
                        <strong>Saputra Global Harvest (SGH)</strong> is an Indonesian company engaged in agriculture,
                        fisheries, and
                        animal husbandry located in Jakarta, which has been established since 2011 after conducting a
                        long research from 1993. SGH discovered 2 technologies that we have patented and has been proven
                        effectively, which are <strong>technology of Essential Nutrient formation</strong> and
                        <strong>technology of coal-based fertilizers</strong>.
                    </p>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <p style="text-align: justify;">
                    The usage of essential nutrient formation technology <u>has been proven to improve the performance
                        of plant and animal cells</u>. Likewise, the technology of coal-based fertilizer <u>has been
                        proven to
                        be able to fulfil the needs of plants</u> because this fertilizer has complete the elements
                    needed
                    by plants.
                </p>
                <p style="text-align: justify;">
                    Using one or both of technologies as mentioned, has been proven to be able to increase
                    production or crop yield, reduce chemical usage and improve environmental health and commodity
                    itself, which is significantly in all sector as mentioned above.
                </p>
            </div>
        </div>
    </div>

    <!-- 
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                <figure class="circle-col">
                    <img src="img/images/saputra-nutrient-1kg.jpg" alt="">
                </figure>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                <figure class="circle-col">
                    <img src="img/images/saputra-livestock-nutrient.jpg" alt="">
                </figure>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 ct-view">
                <figure class="circle-col">
                    <img src="img/images/saputra-liquid-nutrient.jpg" alt="">
                </figure>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 ct-view">
                <figure class="circle-col">
                    <img src="img/images/saputra-fisheries-nutrient.jpg" alt="">
                </figure>
            </div>
        </div>
    </div>
     -->

    <!-- WIDE SECTION START -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-6 ws-right">

            </div>

            <div class="col-lg-8 col-xl-6 ws-lefside alt-home">
                <div class="ws-content-alt">
                    <h5>Introducing</h5>
                    <h2>Saputra Technology</h2>
                    <p style="text-align: justify;">
                        Conventional agricultural practices that using chemicals continuously is a systematic error.
                        This practice causes an imbalance of soil nutrient, which in turn causes damaging soil and
                        microorganisms. This condition causes decreasing in quantity and quality of crop yield.
                    </p>
                    <p style="text-align: justify;">
                        Essential Nutrient contains amino acids, fatty acids, mono saccharides, oligosaccharides,
                        vitamins, and minerals which needed by all living creatures. With this nutrient the plant's
                        metabolic system will be more effective and efficient, so the production will be increased. For
                        instance, yield production is determined by chlorophyll, while the formation of chlorophyll is
                        needed glutamic acid which is one of amino acids or essential nutrients.
                    </p>
                    <p style="text-align: justify;">
                        Coal is the result of decomposition of plants which become fossils, so it contains complete
                        elements which needed by plants. Thus, the combination of essential nutrient and coal fertilizer
                        is the answer to the problem caused by conventional agricultural practises, such as: increase
                        yield production, reduce chemical usage, improve & maintain soil fertilizer, keeping all living
                        microorganism, eco-friendly and sustainable.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- WIDE SECTION END -->

    <div class="container-fluid wide-grid">
        <div class="row">
            <div class="col-lg-6 col-xl-3 grid-col-img">

            </div>
            <div class="col-lg-6 col-xl-3 grid-col">
                <h3>Saputra Plant Nutrient</h3>
                <p></p>
                <div class="btn-more"><a class="btn btn-hover-corner" href="{{ .Site.BaseURL }}/saputra-plant-nutrient/"
                        role="button">Learn More</a></div>
            </div>
            <div class="col-lg-6 col-xl-3 grid-col-img service-grid-2">

            </div>
            <div class="col-lg-6 col-xl-3 grid-col">
                <h3>Saputra Livestock Nutrient</h3>
                <p></p>
                <div class="btn-more"><a class="btn btn-hover-corner"
                        href="{{ .Site.BaseURL }}/saputra-livestock-nutrient/" role="button">Learn More</a></div>
            </div>
            <div class="col-lg-6 col-xl-3 grid-col">
                <h3>Saputra Poultry Nutrient</h3>
                <p></p>
                <div class="btn-more"><a class="btn btn-hover-corner"
                        href="{{ .Site.BaseURL }}/saputra-poultry-nutrient/" role="button">Learn More</a></div>
            </div>
            <div class="col-lg-6 col-xl-3 grid-col-img service-grid-3">

            </div>
            <div class="col-lg-6 col-xl-3 grid-col">
                <h3>Saputra Fisheries Nutrient</h3>
                <p></p>
                <div class="btn-more"><a class="btn btn-hover-corner"
                        href="{{ .Site.BaseURL }}/saputra-fisheries-nutrient/" role="button">Learn More</a></div>
            </div>
            <div class="col-lg-6 col-xl-3 grid-col-img service-grid-4">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-info">
                    <h5>New Product</h5>
                    <h2>Futura Coal Fertilizer</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{ .Site.BaseURL }}/img/images/saputra-futura-coal-fertilizer.jpg"
                    alt="Futura Coal Fertilizer">
                <div class="btn-more">
                    <a class="btn btn-hover-corner" href="{{ .Site.BaseURL }}/futura-coal-fertilizer/" role="button">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="col-lg-6 space-break">
                <figure class="about-img"><img src="{{ .Site.BaseURL }}/img/images/futura-coal-fertilizer.jpg"
                        alt="coal"></figure>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}