{{ partial "header-en-home" . }}

<style>
    section p {
        margin-bottom: 20px;
    }
</style>

<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-leftside">
                    <h5>About Saputra Global Harvest</h5>
                    <h1>Creating quality urban lifestyles, building stronger communities.</h1>
                    <!-- <figure class="ha-signature"><img src="img/images/signature.png" alt=""></figure> -->
                </div>
            </div>
            <div class="col-lg-6 space-break">
                <div class="ha-rightside">
                    <p>
                        <strong>Saputra Global Harvest (SGH)</strong> is an Indonesian company engaged in agriculture,
                        fisheries, and
                        animal husbandry located in Jakarta, which has been established since 2011 after conducting a
                        long research from 1993. SGH discovered 2 technologies that we have patented and has been proven
                        effectively, which are <strong>technology of Essential Nutrient formation</strong> and
                        <strong>technology of coal-based fertilizers</strong>.
                    </p>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <p>
                    The usage of essential nutrient formation technology <u>has been proven to improve the performance
                        of plant and animal cells</u>. Likewise, the technology of coal-based fertilizer <u>has been
                        proven to
                        be able to fulfil the needs of plants</u> because this fertilizer has complete the elements
                    needed
                    by plants.
                </p>
                <p>
                    Using one or both of technologies as mentioned, has been proven to be able to increase
                    production or crop yield, reduce chemical usage and improve environmental health and commodity
                    itself, which is significantly in all sector as mentioned above.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                <figure class="circle-col">
                    <img src="img/images/home-pic1.jpg" alt="">
                    <figcaption><img class="center-icon" src="img/master/peas.svg" alt=""></figcaption>
                </figure>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                <figure class="circle-col">
                    <img src="img/images/home-pic4.jpg" alt="">
                    <figcaption><img class="center-icon" src="img/master/apple.svg" alt=""></figcaption>
                </figure>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 ct-view">
                <figure class="circle-col">
                    <img src="img/images/home-pic3.jpg" alt="">
                    <figcaption><img class="center-icon" src="img/master/cow-2.svg" alt=""></figcaption>
                </figure>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 ct-view">
                <figure class="circle-col">
                    <img src="img/images/home-pic2.jpg" alt="">
                    <figcaption><img class="center-icon" src="img/master/wheat.png" alt=""></figcaption>
                </figure>
            </div>
        </div>
    </div>

    <!-- WIDE SECTION START -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-6 ws-right">

            </div>

            <div class="col-lg-8 col-xl-6 ws-lefside alt-home">
                <div class="ws-content-alt">
                    <h5>How It Works?</h5>
                    <p>
                        Conventional agricultural practices that using chemicals continuously is a systematic error.
                        This practice causes an imbalance of soil nutrient, which in turn causes damaging soil and
                        microorganisms. This condition causes decreasing in quantity and quality of crop yield.
                    </p>
                    <p>
                        Essential Nutrient contains amino acids, fatty acids, mono saccharides, oligosaccharides,
                        vitamins, and minerals which needed by all living creatures. With this nutrient the plant's
                        metabolic system will be more effective and efficient, so the production will be increased. For
                        instance, yield production is determined by chlorophyll, while the formation of chlorophyll is
                        needed glutamic acid which is one of amino acids or essential nutrients.
                    </p>
                    <p>
                        Coal is the result of decomposition of plants which become fossils, so it contains complete
                        elements which needed by plants. Thus, the combination of essential nutrient and coal fertilizer
                        is the answer to the problem caused by conventional agricultural practises, such as: increase
                        yield production, reduce chemical usage, improve & maintain soil fertilizer, keeping all living
                        microorganism, eco-friendly and sustainable.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- WIDE SECTION END -->

    <div class="container-fluid wide-grid">
        <div class="row">
            <div class="col-lg-6 col-xl-3 grid-col-img">

            </div>
            <div class="col-lg-6 col-xl-3 grid-col">
                <h3>Saputra Plant Nutrient</h3>
                <p>Helping farmers to emerging markets maximize their profits. We use agronomic machine learning, remote
                    sensing.</p>
                <div class="btn-more"><a class="btn btn-hover-corner" href="#" role="button">Learn More</a></div>
            </div>
            <div class="col-lg-6 col-xl-3 grid-col-img service-grid-2">

            </div>
            <div class="col-lg-6 col-xl-3 grid-col">
                <h3>Saputra Livestock Nutrient</h3>
                <p>Helping farmers to emerging markets maximize their profits. We use agronomic machine learning, remote
                    sensing.</p>
                <div class="btn-more"><a class="btn btn-hover-corner" href="#" role="button">Learn More</a></div>
            </div>
            <div class="col-lg-6 col-xl-3 grid-col">
                <h3>Saputra Poultry Nutrient</h3>
                <p>Helping farmers to emerging markets maximize their profits. We use agronomic machine learning, remote
                    sensing.</p>
                <div class="btn-more"><a class="btn btn-hover-corner" href="#" role="button">Learn More</a></div>
            </div>
            <div class="col-lg-6 col-xl-3 grid-col-img service-grid-3">

            </div>
            <div class="col-lg-6 col-xl-3 grid-col">
                <h3>Saputra Fisheries Nutrient</h3>
                <p>Helping farmers to emerging markets maximize their profits. We use agronomic machine learning, remote
                    sensing.</p>
                <div class="btn-more"><a class="btn btn-hover-corner" href="#" role="button">Learn More</a></div>
            </div>
            <div class="col-lg-6 col-xl-3 grid-col-img service-grid-4">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-info">
                    <h5>New Product</h5>
                    <h2>Futura Coal Fertilizer</h2>
                    <p><strong>Customized advice to smallholder farmers with radical efficiency and scalability
                            agricultural.</strong></p>
                    <p>Helping farmers to emerging markets maximize their profits. We use agronomic machine learning,
                        remote sensing, and mobile phones to deliver financing, farm products farmers with radical
                        efficiency and scalability.</p>
                    <div class="btn-more"><a class="btn btn-hover-corner" href="#" role="button">Learn More</a></div>
                </div>
            </div>
            <div class="col-lg-6 space-break">
                <figure class="about-img"><img src="https://placehold.it/992x661" alt=""></figure>
            </div>
        </div>
        <hr class="section-divider">
        <div class="about-bar">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ab-box">
                        <figure class="ab-icon"><img src="img/master/farmer.svg" alt=""></figure>
                        <div class="ab-caption">
                            <h4>Qualified Staff</h4>
                            <p>Primary focus of Indusy is policy development and implementation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="ab-box">
                        <figure class="ab-icon"><img src="img/master/plant.svg" alt=""></figure>
                        <div class="ab-caption">
                            <h4>Natural Products</h4>
                            <p>Error sed ut perspiciatis unde omnis iste natus sit voluptatem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ab-box">
                        <figure class="ab-icon"><img src="img/master/tools.svg" alt=""></figure>
                        <div class="ab-caption">
                            <h4>Fresh Vegetables</h4>
                            <p>Annual meeting of voting delegates. I s tasked with accomplishing .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TESTIMONIALS START -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-5 r-layer-bg-color">
                <div class="vertical">
                    <h4>25 Years Experience</h4>
                </div>
            </div>
            <div class="col-lg-8 col-xl-7 l-layer-bg-color">
                <div class="t-content">
                    <div id="testimonial-slider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper"
                                style="width: 6084px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-2028px, 0px, 0px);">
                                <div class="owl-item" style="width: 1014px;">
                                    <div class="testimonial-box">
                                        <div class="tc-left">
                                            <figure class="tc-avatar"><img src="img/images/avatar1.jpg" alt=""></figure>
                                            <div class="tc-caption">
                                                <h4>Lisa Doe</h4>
                                                <p>Web Designer</p>
                                                <ul class="rating">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tc-right">
                                            <div class="tc-comment">
                                                <p>An endorsement is typically a well-known influencer giving their
                                                    public support for a brand. But a testimonial is from a customer or
                                                    client. They may be an unknown person to the reader, you need to be
                                                    sure there isn't anything embarrassing hidden in the middle of text.
                                                    mjority have suffered alteration in some form.</p>
                                                <figure class="quote-icon"><img src="img/master/quote.svg" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 1014px;">
                                    <div class="testimonial-box">
                                        <div class="tc-left">
                                            <figure class="tc-avatar"><img src="img/images/avatar5.jpg" alt=""></figure>
                                            <div class="tc-caption">
                                                <h4>Mark Cimino</h4>
                                                <p>Lawyer</p>
                                                <ul class="rating">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tc-right">
                                            <div class="tc-comment">
                                                <p>Start with your super fans. These are your happiest clients and
                                                    customers. They may have already offered to be a reference so they
                                                    won’t mind the request. They might really want to help, you need to
                                                    be sure there isn't anything embarrassing hidden in the middle of
                                                    text. mjority have suffered alteration in some form.</p>
                                                <figure class="quote-icon"><img src="img/master/quote.svg" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 1014px;">
                                    <div class="testimonial-box">
                                        <div class="tc-left">
                                            <figure class="tc-avatar"><img src="img/images/avatar3.jpg" alt=""></figure>
                                            <div class="tc-caption">
                                                <h4>Raul Smith</h4>
                                                <p>Developer</p>
                                                <ul class="rating">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tc-right">
                                            <div class="tc-comment">
                                                <p>There are many variations of passages of Lorem Ipsum available, but
                                                    the majority have suffered alteration in some form, by injected
                                                    humour, or randomised words which don't look even slightly
                                                    believable. If you are going to use a passage of Lorem Ipsum, you
                                                    need to be sure there isn't anything embarrassing hidden in the
                                                    middle of text.</p>
                                                <figure class="quote-icon"><img src="img/master/quote.svg" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="owl-controls clickable">
                            <div class="owl-pagination">
                                <div class="owl-page"><span class=""></span></div>
                                <div class="owl-page"><span class=""></span></div>
                                <div class="owl-page active"><span class=""></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TESTIMONIALS END -->
</section>


{{ partial "footer" . }}