{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Saputra Plant Nutrient</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Products</li>
                <li class="current">Saputra Plant Nutrient</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/1-biosynthesis-process-of-chlorophyll.jpg"
                        alt="Biosynthesis process of chlorophyll">
                </div>
            </div>
            <div class="col-lg-6 space-break">
                <div class="about-info">
                    <h2>Scientific Background</h2>
                    <p>
                        Chlorophyll is an essential pigment for plant life. It is a complex chemical compound which
                        allows
                        the absorption of light in the green spectrum wavelength. This light energy is used in the
                        metabolic
                        process known as photosynthesis, which is how plants are able to create sugar from carbon
                        dioxide
                        and water.
                    </p>
                    <p>
                        In order for plants to synthesize chlorophyll, an amino acid known as glutamic acid is required.
                        By
                        SAPUTRA Nutrient which contains glutamic acid, we are able to enhance chlorophyll production in
                        the
                        plants and thus, have greener, healthier plants.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-info">
                    <p>
                        Fatty acids are an essential ingredient in the formation of the cell membrane structure. They
                        are
                        present in the form of phospholipids which make up majority of the structure, and cholesterol
                        which is necessary for membrane fluidity. However, the specific forms of fatty acids needed to
                        form the membrane can only be synthesized by the cell in the presence of acetyl Co Enzyme A
                        (acetyl CoA), which is also an intermediate product of cell respiration.
                    </p>
                    <p>
                        Since SAPUTRA Nutrient (SN) contains fatty acids, giving SN to the plants would be a beneficial
                        way of providing them with the materials to increase metabolism efficiency and help the plant
                        cells to be healthier and structurally sound.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 space-break">
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/2-biosynthesis-process-of-fat.jpg"
                        alt="bio synthesis process of fat">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/3-biosynthesis-process-of-acetyl-co-a.jpg"
                        alt="bio synthesis process of acetyl co a">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-info">
                    <p>
                        Acetyl Co Enzyme A is an intermediate product between carbohydrates and fatty acids. It is also
                        an
                        essential component in respiration, being carboxylized and broken down to release CO2 from
                        cells.
                    </p>
                    <p>
                        Acetyl CoA is present in SN in order to allow the formation of more carbohydrates and fatty
                        acids,
                        also to increase respiration efficiency.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="about-info">
                    <h5>ESSENTIAL NUTRIENT PATHWAY</h5>
                    <p>
                        All living things cannot fulfil their own an essential nutritional needs, therefore why living
                        things have to eat.
                    </p>

                    <p>
                        The cycle is illustrates that the process of forming essential nutrient takes place in nature.
                    </p>

                    <p>
                        With technology SAPUTRA, the forming of essential nutrient is producing on an industrial scale
                        by
                        SGH.
                    </p>
                </div>
            </div>
            <div class="col-lg-8 space-break">
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/4-essential-nutrient-pathway.jpg"
                        alt="essential nutrient pathway">
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}