{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Saputra Poultry Nutrient</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Products</li>
                <li class="current">Saputra Poultry Nutrient</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <figure class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/saputra-liquid-nutrient.jpg"
                        alt="Saputra Liquid Nutrient For Poultry">
                </figure>
            </div>
            <div class="col-lg-4 space-break">
                <div class="about-info">
                    <h2>Dosage of Broiler</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Age</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1-7 day</td>
                                <td>10 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>8-14 day</td>
                                <td>15 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>15-21 day</td>
                                <td>20 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>22-28 day</td>
                                <td>25 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>29-harvest</td>
                                <td>30 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td colspan="2">Note: 10 ml = 1 lid of bottle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
            <div class="col-lg-4 space-break">
                <div class="about-info">
                    <h2>Dosage of Layer</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Age</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1-4 week</td>
                                <td>5 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>5-8 week</td>
                                <td>10 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>9-12 week</td>
                                <td>15 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>13-16 week</td>
                                <td>20 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>17 week -</td>
                                <td>25 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td colspan="2">Note: 10 ml = 1 lid of bottle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}