{{ partial "header-en-page" . }}

    <div class="sections">
        <div class="container">
            <div class="pages-title">
                <h1>Saputra Poultry Nutrient</h1>
                <!-- Breadcrumbs -->
                <ul class="breadcrumb">
                    <li>Products</li>
                    <li class="current">Saputra Poultry Nutrient</li>
                </ul>
                <!--/ Breadcrumbs -->
            </div>
        </div>
    </div>
</header>

<style>
    p {
        margin-bottom: 20px;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 space-break">
                <div class="about-info">
                    <h5>Usage and Dosage</h5>
                    
                    <img src="https://placehold.it/1024x200" alt="Saputra Plant Nutrient Dosage">
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}