{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Saputra Livestock Nutrient</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Products</li>
                <li class="current">Saputra Livestock Nutrient</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<style>
    p {
        margin-bottom: 20px;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 space-break">
                <div class="about-info">
                    <h2>Scientific Background</h2>
                    <p>
                        Animal productivity is determined by the quality and quantity of feed. Feed quality is
                        influenced by
                        the content of various nutrients, such as energy, protein, minerals, vitamins, amino acids, and
                        fats. Balance of energy and protein is important because it can affect the microbial
                        fermentation
                        process in the rumen (for mammals).
                    </p>
                    <p>
                        SAPUTRA Nutrient contains amino acids, fatty acids, mono saccharides, oligosaccharides,
                        vitamins,
                        and minerals needed by all living things, it will help the metabolic system to more effective
                        and
                        efficient. SAPUTRA technology provides balanced nutritional essential needs for livestock by
                        utilizing the excretion of metabolic products.
                    </p>
                    <div class="row">
                        <div class="col-lg-3">
                            <p>

                                HIGH QUALITY IN FEED:
                                <br>
                                The raw material of feed must be qualified (expensive price)
                            </p>
                        </div>
                        <div class="col-lg-3">
                            <p>
                                PROBIOTICS
                                <br>
                                Helping digestion process
                            </p>
                        </div>
                        <div class="col-lg-3">
                            <p>
                                ENZYME
                                <br>
                                Helping digestion process
                            </p>
                        </div>

                        <div class="col-lg-3">
                            <p>
                                ESSENTIAL NUTRIENT PRECURSORS
                                <br>
                                * It can form essential nutrient in the body. One of the process is converting ammonia
                                and H2S to be amino acid, it will be reduced the feces.
                                * SAPUTRA Technologies is the first in the world to do the proces
                            </p>
                        </div>
                    </div>

                    <h5>Usage and Dosage</h5>
                    <img src="https://placehold.it/1024x200" alt="Saputra Plant Nutrient Dosage">
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}