{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Celltilizer</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Products</li>
                <li>Celltilizer</li>
                <li class="current">Celltilizer Vegetative</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row my-4">
            <div class="col-md-12">
                <div class="about-info">
                    <div class="content-text">
                        <h2>Celltilizer</h2>
                        <h5>Innovative 5<sup>th</sup> Generation Agricultural Technology</h5>

                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    Celltilizer is the unique SAPUTRA product, which is plant's "food" that is given directly to plant cells through the leaves and or stems of plants by spraying.
                                </p>
                                <!-- 
                                <p>
                                    Celltilizer is an essential nutrient that functions to optimize cell performance in utilizing fertilizers applied to the soil, improve cell performance in the process of stem and leaf growth (vegetative phase) and optimize fruit production and harvest
                                    quality (generative phase).
                                </p> 
                                -->
                                <p>
                                    Celltilizer is an essential
                                    nutrient that functions to optimize cell performance in
                                    utilizing fertilizers applied to the soil, improve cell
                                    performance in the process of stem and leaf growth
                                    (vegetative phase) and optimize fruit production and
                                    harvest quality (generative phase).
                                </p>
                                <p>
                                    Celltilizer is <strong>the only product in the world</strong> where the technology is the 5th generation in the development of agricultural technology, which starts from the discovery of macronutrients, micronutrients,
                                    probiotic, hormone and the last is celltilizer (as shown in the following picture).
                                </p>
                            </div>

                            <div class="col-md-6">
                                <div class="about-pic mb-3">
                                    <figure class="about-pic"><img src="{{ .Site.BaseURL }}/img/images/development-of-agricultural-technology.png" alt="Development of agricultural technology"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Celltilizer Contents</h2>
                    <p>The Best Nutrients You Can Give To Enhance Crop's Growth</p>
                </div>
                <div class="text-center">
                    <img src="{{ .Site.BaseURL }}/img/images/content-of-celltilizer.jpg" alt="content of celltilizer">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-info">
                    <h5>Celltilizer Vegetative</h5>
                    <h2>Dosage &amp; Usage</h2>

                    <div class="bullet-list">
                        <p>Spray to the plants during the growth (vegetative) phase.</p>
                        <p>Product packaging: 500 gr/pack (pouch packaging), there are 2 types of powder inside package, which is reddish brown and white powder.</p>
                        <p>The application method is, by mixing evenly 3 tablespoons each of reddish brown and white powder (1 tablespoon = 10gr) and then dissolve into water in sprayer tank 15 liter of capacity, then spray onto the leaves or stems of the
                            plant.
                        </p>
                        <p>Total dose per cycle is 4-6 Kg/ha with a spraying frequency of 3-4 times.</p>
                        <p>100 L</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 space-break">
                <figure class="about-img"><img src="{{ .Site.BaseURL}}/img/images/celltilizer-vegetative.jpg" alt="Celltilizer Vegetative"></figure>
                <div class="btn-more text-center"><a class="btn btn-hover-corner" href="{{ .Site.BaseURL }}/contact-us" role="button">Buy Celltilizer Now!</a></div>
            </div>

            <!-- 
            <div class="row mt-4">
                <div class="col-lg-6">
                    <div class="about-pic">
                        <img src="{{ .Site.BaseURL }}/img/images/basic-process-of-saputra-nutrient-agri.jpg" alt="basic process of saputra nutrient agri">
                    </div>
                </div>
                <div class="col-lg-6 space-break">
                    <h3>Application Method</h3>
                    <p style="text-align: justify;">
                        Each package has 2 compartments separating brown (powder) and white powder (crystal). The essential nutrient contained in the package will be formed when the two substances are mixed and must be applied no later than 2 days.
                    </p>
                    <h3>Dosage</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>6 Kg/Ha</strong></td>
                                <td>Spray on the plants every week during <u>Vegetative Phase</u>.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            -->
        </div>
        <hr class="section-divider">
        <div class="about-bar">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ab-box">
                        <figure class="ab-icon"><img src="{{ .Site.BaseURL}}/img/master/lifesaver.svg" alt=""></figure>
                        <div class="ab-caption">
                            <h4>Eco Friendly Agriculture</h4>
                            <p>We focus on generating the best result possible while maintaining sustainability and harmfree agriculture.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ab-box">
                        <figure class="ab-icon"><img src="{{ .Site.BaseURL}}/img/master/farmer.svg" alt=""></figure>
                        <div class="ab-caption">
                            <h4>Better Farming For All</h4>
                            <p>By promoting excellent plant's growth, we try to bring out the best benefits for farmers and society.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}