{{ partial "header-en-page" . }}

<style>
    section p {
        margin-bottom: 0;
    }
</style>

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Contact Us</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Home</li>
                <li class="current">Contact Us</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-info-right">
                    <h5>Contact Us</h5>

                    <h3>Saputra Global Harvest</h3>

                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon"><i class="fas fa-map-marker"></i></div>
                        <div class="bc-caption">
                            <p> The Capitol Building 1st FLoor, Jalan Letjen S.Parman Kav 73. Kel. Slipi, Kec. Palmerah, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11410 </p>
                        </div>
                    </div>
                    <!--  
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-phone-volume"></i></div>
                        <div class="bc-caption">
                            <p>+62 21 22757588</p>
                        </div>
                    </div>
                    -->
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-mobile"></i></div>
                        <div class="bc-caption">
                            <!-- <p>+62 818 087 000 87</p> -->
                            <p>
                                <a href="tel:+6281239006060"> +62 8123 900 6060</a>
                            </p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fab fa-whatsapp"></i></div>
                        <div class="bc-caption">
                            <p>
                                <a href="https://api.whatsapp.com/send?phone=6281239006060">+62 8123 900 6060</a>
                            </p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-envelope"></i></div>
                        <div class="bc-caption">
                            <p>marketing@saputra.co.id</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.158437776267!2d106.7977365!3d-6.192299!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2ae79a45efc138f!2sSaputra%20Global%20Harvest!5e0!3m2!1sid!2sid!4v1584541905059!5m2!1sid!2sid" class="map-iframe-alt"></iframe>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info-right">
                    <h3>North America</h3>

                    <h4>USA</h4>

                    <h5>Global Green Energy Solutions Corporation</h5>

                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon"><i class="fas fa-map-marker"></i></div>
                        <div class="bc-caption">
                            <p> Rocklin, California, USA</p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-phone-volume"></i></div>
                        <div class="bc-caption">
                            <p><a href="tel:17794564367" style="color: black;">779-GLOGENS</a></p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-envelope"></i></div>
                        <div class="bc-caption">
                            <p><a href="mailto:info@glogens.com" style="color: black;">info@glogens.com</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="contact-info-right">
                    <h3>Africa</h3>

                    <h4>Nigeria</h4>

                    <h5>National Agency for Science and Engineering Infrastructure (NASENI)</h5>

                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon"><i class="fas fa-map-marker"></i></div>
                        <div class="bc-caption">
                            <p>Idu Industrial Area - PMB 391, Garki - Abuja</p>
                        </div>
                    </div>
                    <hr class="contact-divider">
                    <div class="box-contact">
                        <div class="bc-icon phone-icon"><i class="fas fa-envelope"></i></div>
                        <div class="bc-caption">
                            <p><a href="mailto:nasenihq@naseni.org" style="color: black;">nasenihq@naseni.org</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}