{{ partial "header-en-page" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Futura Coal Fertilizer</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Products</li>
                <li class="current">Futura Coal Fertilizer</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 space-break">
                <div class="about-info">
                    <div class="content-text">
                        <h2>Scientific Background</h2>
                        <h5>Why Coal?</h5>
                        <!-- 
                        <p>
                            Coal Fertilizer is a coal-based fertilizer, in Indonesian market call as FUTURA, and International market call as Carbontilizer.
                        </p>
                         -->
                        <!-- <p>
                            Coal is fossil fuels, which is a combustible sedimentary rock, it is formed from organic deposits, with the main ingredient is the remains of plants. The elements which contained in coal are various and complete, so can be use as fertilizer for plants
                        </p> -->
                        <p>
                            The condition of agricultural land around the world is currently damage, it is caused by systematic errors in fertilization methods. Conventional fertilization mostly is focus on NPK, meanwhile the plants absorb nutrients through the soil more than these
                            3 elements, it is causing the soil becomes poorer in nutrients, as explained in the following illustration:
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="about-img mb-4">
                    <img src="{{ .Site.BaseURL }}/img/images/orange-presentation-futura.webp" alt="futura coal fertilizer scientific background">
                </div>
            </div>
            <div class="col-md-12">
                <div class="about-info">
                    <div class="content-text">
                        <p>
                            From the illustration above, there is an imbalance way how we treat the soil by only providing 3 nutrients which is NPK. This method is practices all over the world and for hundred years, it is causing soil damage. In addition, according to scientists,
                            saying that our soil is currently losing a lot of carbon, so the soil is getting harder, therefore it is very crucial to put more carbon into the soil.
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <figure>
                                    <img src="{{ .Site.BaseURL }}/img/images/coal-for-fertilizer-an-innovation-in-agricultural.jpg" alt="Coal for fertilizer, an innovation in agricultural technology" width="550">
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Coal is the fossilized plants, so the element or nutrients inside the coal relatively same as the plant content, but the elements has been concentrated.
                                </p>
                                <p>
                                    Beside the nutrients, coal also content high carbon which is the source of energy for microorganisms that have an impact on increasing soil fertility.
                                </p>
                                <p>
                                    The nutrients inside the coal since has been concentrated or inert, we must process and activate so that nutrients can be absorbed by the plant as fertilizer. That's why our coal fertilizer technology is known as <strong>nutrient activation technology</strong>.
                                    Therefore, with its complete content, coal fertilizer will improve soil quality and crop yields.
                                </p>
                                <p>
                                    Coal Fertilizer is a coal-based fertilizer, in Indonesian market call as <strong>FUTURA</strong>, and international market call as <strong>Carbontilizer</strong>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Futura Coal Fertilizer Contents</h2>
                    <p>The Best Nutrients You Can Give To Enhance Crop's Growth</p>
                </div>
                <div class="text-center">
                    <img src="{{ .Site.BaseURL }}/img/images/futura-coal-fertilizer-contents.jpg" alt="Futura Coal Fertilizer Contents">
                    <img src="{{ .Site.BaseURL }}/img/images/futura-coal-fertilizer-contents-analysis.jpg" alt="Futura Coal Fertilizer Analysis Report">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-info">
                    <h2>Futura Coal Fertilizer</h2>
                    <h5>(Carbontilizer)</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-img">
                    <img src="{{ .Site.BaseURL }}/img/images/futura.jpg" alt="Futura Coal Fertilizer">
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-text">
                    <h3>Packaging</h3>

                    <p>Available in sack package (Nett. weight: 25 Kg)</p>

                    <hr>

                    <h3>Dosage</h3>

                    <p>Recommended usage of Futura is: Replacing 50% of chemical fertilizer usage</p>
                    <!--  
                    <p>In case of Futura used as the basic fertilizer, it is not to be mixed with other fertilizer.</p>
                    <p>If Futura is used as complementary fertilizer, it could be mixed with NPK or Urea.</p>
                    -->
                </div>
            </div>
        </div>
    </div>

</section>


{{ partial "footer" . }}