{{ partial "header-en-page-poultry" . }}

<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Saputra Poultry Nutrient</h1>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
                <li>Products</li>
                <li class="current">Saputra Poultry Nutrient</li>
            </ul>
            <!--/ Breadcrumbs -->
        </div>
    </div>
</div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-info">
                    <h2>Scientific Background</h2>
                    <p style="text-align: justify;">
                        Poultry productivity is determined by the quality and quantity of feed. Feed quality is
                        influenced by the content of various nutrients, such as energy, protein, minerals, vitamins,
                        amino acids, and fats. Balance of energy and protein is important because it can affect the
                        microbial fermentation process in the rumen (for mammals).
                    </p>
                    <p style="text-align: justify;">
                        SAPUTRA Nutrient contains amino acids, fatty acids, mono saccharides, oligosaccharides,
                        vitamins, and minerals needed by all living things, it will help the metabolic system to be more
                        effective and efficient. SAPUTRA technology provides balanced essential nutritional needs for
                        Poultry by utilizing the excretion of metabolic products.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-info">
                    <h5>HIGH QUALITY IN FEED</h5>
                    <p style="text-align: justify;">The raw material of feed must be qualified (expensive price)</p>

                    <h5>PROBIOTICS</h5>
                    <p style="text-align: justify;">Helping digestion process</p>

                    <h5>ENZIM</h5>
                    <p style="text-align: justify;">Helping digestion process</p>
                </div>
            </div>
            <div class="col-lg-6 space-break">
                <div class="about-info">
                    <h5>ESSENTIAL NUTRIENT PRECURSORS</h5>
                    <p style="text-align: justify;">
                        * It can form essential nutrient in the body. One of the process is
                        converting ammonia and H2S to be amino acid, it will reduce the feces.
                    </p>

                    <p style="text-align: justify;">
                        * SAPUTRA Technolgies is the first in the world to do the process.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">STATE OF THE ART PRECURSOR OF ESSENTIAL NUTRIENT</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <figure class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/saputra-nutrient-poultry-types.jpg"
                        alt="Saputra Liquid Nutrient For Poultry">
                </figure>
            </div>
            <div class="col-lg-6 space-break">
                <div class="about-info">
                    <h3>Dosage of Broiler</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Age</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1-7 day</td>
                                <td>10 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>8-14 day</td>
                                <td>15 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>15-21 day</td>
                                <td>20 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>22-28 day</td>
                                <td>25 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>29-harvest</td>
                                <td>30 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td colspan="2">Note: 10 ml = 1 lid of bottle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="about-info">
                    <h3>Dosage of Layer</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Age</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1-4 week</td>
                                <td>5 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>5-8 week</td>
                                <td>10 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>9-12 week</td>
                                <td>15 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>13-16 week</td>
                                <td>20 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td>17 week -</td>
                                <td>25 ml/1000 head/day</td>
                            </tr>
                            <tr>
                                <td colspan="2">Note: 10 ml = 1 lid of bottle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-info">
                    <h2>1. CONVENTIONAL SYSTEM IN THE BODY</h2>
                </div>
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/conventional-system-in-the-body.jpg"
                        alt="conventional system in the body">
                </div>
                <br>
                <div class="about-info">
                    <h2>2. SAPUTRA EFFECTS ON METABOLISM SYSTEM (Product type I - Powder)</h2>
                </div>
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/metabolism-saputra-effect-1.jpg"
                        alt="saputra livestock nutrient powder effect on metabolism">
                </div>
                <br>
                <div class="about-info">
                    <h2>3. SAPUTRA EFFECTS ON METABOLISM SYSTEM (Product type II - Liquid)</h2>
                </div>
                <div class="about-pic">
                    <img src="{{ .Site.BaseURL }}/img/images/metabolism-saputra-effect-2.jpg"
                        alt="saputra livestock nutrient liquid effect on metabolism">
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-info">
                    <h2>Field Result</h2>
                    <a href="{{ .Site.BaseURL }}/downloads/field-result/field-result-saputra-livestock-nutrient.pdf" class="btn btn-primary">Download Field Result</a>
                </div>                
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}