{{ partial "header-en-page" . }}

    <div class="sections">
        <div class="container">
            <div class="pages-title">
                <h1>Saputra Nutrient</h1>
                <!-- Breadcrumbs -->
                <ul class="breadcrumb">
                    <li>Products</li>
                    <li class="current">Saputra Nutrient</li>
                </ul>
                <!--/ Breadcrumbs -->
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-pic">
                    <figure class="about-pic"><img src="{{ .Site.BaseURL }}/img/images/saputra-nutrient-scientific-background.jpg" alt=""></figure>
                </div>
            </div>
            <div class="col-lg-6 space-break">
                <div class="about-info">
                    <h2>Scientific Background</h2>
                    <p style="text-align: justify;">
                        The Essential Nutrient which we produce namely SAPUTRA Nutrient, is fully organic which really
                        needed by plants in metabolic system.
                    </p>
                    <p style="text-align: justify;">
                        Metabolic system in plants is influenced and determined by the role of various compounds with
                        very diverse structures, such as fatty acids, coenzyme and amino acids.
                    </p>
                    <p style="text-align: justify;">
                        Production or crop yield is strongly influenced by chlorophyll, while the formation of
                        chlorophyll is very determined by the role of glutamic acid (amino acids). Formation of amino
                        acids is determined of Co Enzyme A, while the formation Co Enzyme A is highly determined by
                        fatty acids.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Biosynthesis process of Chlorophyll</h4>
                <p style="text-align: justify;">
                    Chlorophyll is an essential pigment for plant life. It is a complex chemical compound which
                    allows the absorption of light in the green spectrum wavelength. This light energy is used in
                    the metabolic process known as photosynthesis, which is how plants are able to create sugar from
                    carbon dioxide and water.
                </p>
                <p style="text-align: justify;">
                    In order for plants to synthesize chlorophyll, an amino acid known as glutamic acid is required.
                    By SAPUTRA Nutrient which contains glutamic acid, we are able to enhance chlorophyll production
                    in the plants and thus, have greener, healthier plants.

                </p>
                <h4>Biosynthesis of Fat</h4>
                <p style="text-align: justify;">Fatty acids are an essential ingredient in the formation of the cell membrane structure. They are
                    present in the form of phospholipids which make up majority of the structure, and cholesterol
                    which
                    is necessary for membrane fluidity. However, the specific forms of fatty acids needed to form
                    the
                    membrane can only be synthesized by the cell in the presence of acetyl Co Enzyme A (acetyl CoA),
                    which is also an intermediate product of cell respiration.</p>

                <p style="text-align: justify;">
                    Since SAPUTRA Nutrient (SN) contains fatty acids, giving SN to the plants would be a beneficial
                    way
                    of providing them with the materials to increase metabolism efficiency and help the plant cells
                    to
                    be healthier and structurally sound
                </p>

                <h4>Biosynthesis of Acetyl Co A</h4>
                <p style="text-align: justify;">Acetyl Co Enzyme A is an intermediate product between carbohydrates and fatty acids. It is also
                    an essential component in respiration, being carboxylized and broken down to release CO2 from
                    cells.
                </p>
                <p style="text-align: justify;">
                    Acetyl CoA is present in SN in order to allow the formation of more carbohydrates and fatty
                    acids, also to increase respiration efficiency.
                </p>
                <h4>Essential Nutrient Pathway</h4>
                <p style="text-align: justify;">
                    All living things cannot fulfil their own an essential nutritional needs, therefore why living
                    things have to eat.
                </p>
                <p style="text-align: justify;">
                    The cycle is illustrates that the process of forming essential nutrient takes place in nature.
                </p>
                <p style="text-align: justify;">
                    With SAPUTRA technology, the forming of essential nutrient is producing on an industrial scale
                    by SGH.

                </p>

                <h4>Innovation</h4>
                <p style="text-align: justify;">
                    There is nothing new with the substances of SAPUTRA Nutrient. It is the technology to make the
                    nutrient at our rate of production cost that is THE NEW INNOVATION.
                    It is much cheaper 100 times than any regular methods of making amino and fatty acids, such as
                    Fermentation or Extraction, and can be easily verified with a simple Lab Test. The application
                    of amino and fatty acids on plants which was previously not economically feasible, can now be
                    done with the SAPUTRA Technology of Essential Nutrients Formation that we have patented
                </p>
            </div>
        </div>
    </div>

    <!-- SERVICES START -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="box-layer active-layer">
                    <h4>Saputra Plant Nutrient</h4>
                    <p style="text-align: justify;">
                        <a href="{{ .Site.BaseURL }}/saputra-plant-nutrient">
                            <img src="{{ .Site.BaseURL }}/img/images/saputra-plant-nutrient-product-banner.jpg" alt="Saputra Plant Nutrient" width="200">
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 bl-movil-view">
                <div class="box-layer active-layer">
                    <h4>Saputra Livestock Nutrient</h4>
                    <p style="text-align: justify;">
                        <a href="{{ .Site.BaseURL }}/saputra-livestock-nutrient">
                            <img src="{{ .Site.BaseURL }}/img/images/saputra-livestock-nutrient.jpg" width="200" alt="Saputra Livestock Nutrient">
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 bl-tablet-view">
                <div class="box-layer active-layer">
                    <h4>Saputra Poultry Nutrient</h4>
                    <p style="text-align: justify;">
                        <a href="{{ .Site.BaseURL }}/saputra-poultry-nutrient">
                            <img src="{{ .Site.BaseURL }}/img/images/saputra-liquid-nutrient.jpg" width="200" alt="Saputra Poultry Nutrient">
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 bl-tablet-view">
                <div class="box-layer active-layer">
                    <h4>Saputra Fisheries Nutrient</h4>
                    <p style="text-align: justify;">
                        <a href="{{ .Site.BaseURL }}/saputra-fisheries-nutrient">
                            <img src="{{ .Site.BaseURL }}/img/images/saputra-fisheries-nutrient.jpg" width="200" alt="Saputra fisheries Nutrient">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- SERVICES START -->

</section>


{{ partial "footer" . }}