{{ partial "header-en-page" . }}

<!-- 
<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>{{ .Title }}</h1>
            <ul class="breadcrumb">
                <li>Home</li>
                <li>News</li>
                <li class="current">{{ .Title }}</li>
            </ul>
        </div>
    </div>
</div>
-->
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="blog-content">
                    <h2>{{ .Title }}</h2>
                    <div class="post-details">
                        <ul>
                            <li>
                                <figure class="post-author-avatar"><img src="{{ .Site.BaseURL }}/img/master/logo-saputra.png" alt="admin saputra.co.id"></figure>
                            </li>
                            <li><a href="#">Admin</a></li>
                            <li class="date">{{ .Date.Format "02 Jan 2006" }}</li>
                        </ul>
                    </div>

                    {{ .Content }}

                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}