<!-- FOOTER START -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <div class="text-center">
                    <img src="{{ .Site.BaseURL }}/img/images/logo-saputra-footer.png" style="width:83px;">
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="text-center">
                    <figure class="footer-logo">
                        <img src="{{ .Site.BaseURL }}/img/master/logo-saputra-footer-white.png" alt="Saputra Global Harvest" style="padding:20px 0 0 0; width: 150px; margin:0 auto;">
                        <!-- <a href="https://bursatani.com/" target="_blank"><img src="{{ .Site.BaseURL }}/img/images/logo-bursatani.png"></a> -->
                    </figure>
                    <!-- <p class="footer-about">Helping farmers to emerging markets maximize their profits. We use agronomic machine 
            learning, remote sensing, and mobile phones to deliver financing, farm products, and customized advice to
            smallholder.</p> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="span-locations">
                    <p class="mphone"><a href="tel:+6281239006060">+62 8123 900 6060</a></p>
                    <p class="mwa"><a href="https://api.whatsapp.com/send?phone=6281239006060">WhatsApp</a></p>
                    <!-- 
          <p class="phone"><a href="tel:+622122757588">+62 21 22757588</a></p>
          <p class="mphone"><a href="tel:+6281808700087">+62 818 087 000 87</a></p> 
          -->
                    <p class="email">marketing@saputra.co.id</p>
                    <p class="address">

                        Rasuna Epicentrum, BAKRIE TOWER, Jl. H. R. Rasuna Said 24th Floor, Karet Kuningan, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12940

                    </p>
                </div>
            </div>
        </div>
        <hr class="divider">
        <div class="footer-bottom">
            <div class="fb-copyright">
                <p>© 2020 - {{ now.Format "2006"}} Saputra Global Harvest. All rights reserved</p>
                <p>
                    <a href="{{ .Site.BaseURL }}/sitemap.xml">Sitemap</a> &bull; 
                    <a href="{{ .Site.BaseURL }}/#">Privacy Policy</a>
                </p>
                <!-- <p>Dibuat dan dikelola oleh <a href="https://kacamata.tech">jasa pembuatan web</a> KacaMata.TECH</p> -->
            </div>
            <div class="fb-social">
                <div class="span-fb-social">
                    <a href="https://www.youtube.com/channel/UCeyDqkr3pb9YgPm5H6bUk0g">
                        <i class="fab fa-youtube"></i></a>
                </div>
                <div class="span-fb-social">
                    <a href="https://www.facebook.com/profile.php?id=100085951233358">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
                <div class="span-fb-social">
                    <a href="https://www.instagram.com/nutrisi_saputra/"><i class="fab fa-instagram"></i></a>
                </div>

                <!-- 
        <div class="span-fb-social"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
        <div class="span-fb-social"><a href="#"><i class="fab fa-twitter"></i></a></div>
        <div class="span-fb-social"><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
        <div class="span-fb-social last-box"><a href="#"><i class="fab fa-instagram"></i></a></div>
        -->
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->

<!-- SCROLL TOP -->
<a href="#0" class="cd-top">Top</a>

<!-- TEMPLATE MAIN JAVASCRIPT FILES -->
<script src="{{ .Site.BaseURL }}/js/plugins.js"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/main.js"></script>
<script src="{{ .Site.BaseURL }}/js/navigation.js"></script>
<script src="{{ .Site.BaseURL }}/js/navigation.fixed.min.js"></script>

{{ partial "analytics" . }}

<!-- FIXED NAVIGATION -->
<script>
    $("#navigation1").fixed();
</script>

{{ if .IsHome }}
<!-- REVOLUTION JS FILES -->
<script src="{{ .Site.BaseURL }}/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="{{ .Site.BaseURL }}/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{{ .Site.BaseURL }}/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="{{ .Site.BaseURL }}/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="{{ .Site.BaseURL }}/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="{{ .Site.BaseURL }}/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="{{ .Site.BaseURL }}/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="{{ .Site.BaseURL }}/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="{{ .Site.BaseURL }}/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="{{ .Site.BaseURL }}/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="{{ .Site.BaseURL }}/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/rev-slider.js"></script>
{{ end }}
</body>

</html>