<!-- NAVBAR START -->
<div class="container main-nav">
    <nav id="navigation1" class="navigation">
        <div class="nav-header">
            <a class="nav-logo" href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.BaseURL }}/img/master/logo-saputra-light.png" class="white-logo" alt="">
                <img src="{{ .Site.BaseURL }}/img/master/logo-saputra-dark.png" class="dark-logo" alt="">
            </a>
            <div class="nav-toggle"></div>
        </div>
        <div class="nav-menus-wrapper">
            <ul class="nav-menu align-to-right">
                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li>
                    <a href="{{ .Site.BaseURL }}/#">Saputra Agricultural</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="#">Celltilizer</a>
                            <ul class="nav-dropdown">
                                <li>
                                    <a href="{{ .Site.BaseURL }}/celltilizer-vegetative">Vegetative Celltilizer</a>
                                </li>
                                <li>
                                    <a href="{{ .Site.BaseURL }}/celltilizer-generative">Generative Celltilizer</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ .Site.BaseURL }}/futura-coal-fertilizer/">Futura Coal Fertilizer</a>
                        </li>
                    </ul>
                </li>                
                <li>
                    <a href="{{ .Site.BaseURL }}/saputra-nutrient">Saputra Precursor Nutrient</a>
                    <ul class="nav-dropdown">
                        <li><a href="{{ .Site.BaseURL }}/saputra-livestock-nutrient/">Saputra Livestock
                                Nutrient</a></li>
                        <li><a href="{{ .Site.BaseURL }}/saputra-poultry-nutrient/">Saputra Poultry
                                Nutrient</a></li>
                        <li><a href="{{ .Site.BaseURL }}/saputra-fisheries-nutrient">Saputra Fisheries
                                Nutrient</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Downloads</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="{{ .Site.BaseURL }}/downloads/ComPro_SGH.pdf">Company Profile</a>
                        </li>
                        <li>
                            <a href="#">Certificate Lab</a>
                            <ul class="nav-dropdown">
                                <li>
                                    <a href="{{ .Site.BaseURL }}/downloads/test-result-ipb-content-2010.jpg">Essential
                                        Nutrient</a>
                                </li>
                                <li>
                                    <a href="{{ .Site.BaseURL }}/downloads/test-result-ipb-protein-digest.jpg">Digestibility</a>
                                </li>
                                <li>
                                    <a href="{{ .Site.BaseURL }}/downloads/test-result-ipb-vitamin-2012.jpg">Vitamins</a>
                                </li>
                                <li>
                                    <a href="{{ .Site.BaseURL }}/downloads/test-result-pacific-lab-antibiotic-carcinogenic-free.jpg">Antibiotics
                                        & Carsinogenic Free</a>
                                </li>
                                <li>
                                    <a href="{{ .Site.BaseURL }}/downloads/test-result-saraswati-fos-gos-2011.jpg">FOS &
                                        GOS</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Patent</a>
                            <ul class="nav-dropdown">
                                <li><a href="{{ .Site.BaseURL }}/downloads/patent/sertifikat-patent-nutrisi-saputra.jpg">Saputra
                                        Nutrient Patent</a></li>
                                <li><a href="{{ .Site.BaseURL }}/downloads/patent/sertifikat-patent-futura-coal-fertilizer.jpg">Coal Fertilizer 
                                        Indonesian Patent</a></li>
                                <li>
                                    <a href="{{ .Site.BaseURL }}/downloads/patent/coal-fertilizer-us-patent.pdf">
                                        Coal Fertilizer US Patent
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">MSDS</a>
                            <ul class="nav-dropdown">
                                <li><a href="{{ .Site.BaseURL }}/downloads/msds/MSDS_CELL_GENERATIVE_Export_Konten.pdf">MSDS
                                        Celltilizer Generative</a></li>
                                <li><a href="{{ .Site.BaseURL }}/downloads/msds/MSDS_CELL_VEGETATIVE_Export_Konten.pdf">MSDS
                                    Celltilizer Vegetative</a></li>
                                <li><a href="{{ .Site.BaseURL }}/downloads/msds/MSDS FUTURA_Export_Konten.pdf">MSDS
                                        Futura Coal Fertilizer</a></li>
                                <li><a href="{{ .Site.BaseURL }}/downloads/msds/MSDS-NUTRISI-SAPUTRA-LIQUID.pdf">MSDS
                                        Saputra Nutrient Liquid</a></li>
                            </ul>
                        </li>
                        <!-- 
                        <li><a href="#">Broschure</a></li>
                         -->
                        <li>
                            <a href="#">Field Result</a>
                            <ul class="nav-dropdown">
                                <li><a href="{{ .Site.BaseURL }}/downloads/field-result/field-result-saputra-plant-nutrient.pdf">Saputra
                                        Agricultural</a></li>
                                <li><a href="{{ .Site.BaseURL }}/downloads/field-result/field-result-saputra-livestock-nutrient.pdf">Saputra
                                        Livestock Nutrient</a></li>
                                <li><a href="{{ .Site.BaseURL }}/downloads/field-result/field-result-saputra-poultry-nutrient.pdf">Saputra
                                        Poultry Nutrient</a></li>
                                <li><a href="{{ .Site.BaseURL }}/downloads/field-result/field-result-saputra-fisheries-nutrient.pdf">Saputra
                                        Fisheries Nutrient</a></li>
                                
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ .Site.BaseURL }}/news/">News</a>
                </li>
                <li><a href="{{ .Site.BaseURL }}/contact-us">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- NAVBAR END -->